@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.woff') format('woff');
    font-display: fallback;    
}

@font-face {
    font-family: 'Inter Bold';
    src: url('assets/fonts/Inter-Bold.woff') format('woff');
    font-display: fallback;
}

body {
    margin: 0;
    cursor: default;
    background: #F6F7F8;
    overflow: auto;
}

/* ########### Header Template for Summary, Board, Addtask and Contacts ###########*/
#header {
    position: fixed;
    left: 261px;
    right: 0px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px 20px 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    z-index: 4;
}

.headline {
    font-family: 'Inter';
    font-size: 21px;
}

.headline-img {
    display: none;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.tooltip {
    position: fixed;
    top: 89px;
    right: 64px;
    display: none;
    padding: 8px 11px 12px 11px;
    width: 89px;
    height: 25px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    cursor: pointer;
}

.tooltip a {
    font-family: 'Inter';
    text-decoration: none;
    border: none;
}

.help-responsiv {
    display: none;
}

.header-add-task-resonsiv {
    display: none;
}

.legal-notice-responsiv {
    display: none;
}

.tooltipToggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltipText {
    color: #CDCDCD;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter';
}

.help {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.profile-image {
    width: 37px;
    height: 46px;
    cursor: pointer;
    border: 2px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family: 'Inter Bold';
    padding: 5px 10px;
    color: white;
    text-shadow: 1px  1px 1px #000, 1px -1px 1px #000,-1px  1px 1px #000,-1px -1px 1px #000;
}

.profile-guest {
    cursor: pointer;
    border: 2px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-guest-image {
    width: 58px;
    height: 58px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(42, 54, 71);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 4px;
    width: 260px;
    padding-top: 40px;
    z-index: 3;
}

.nav-responsiv {
    display: none;
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

.logo {
    width: 100.03px;
    height: 121.97px;
    flex: none;
    cursor: pointer;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 260px;
    height: 229px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 50px;
    gap: 20px;
    height: 46px;
    flex: none;
    font-size: 21px;
    cursor: pointer;
    font-family: 'Inter';
    color: #FFFFFF;
    text-decoration: none;
}

.link img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.link:hover {
    background-color: #091931;
}

.active-link {
    background-color: #091931;
}


.terms {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 122px;
}

.terms-content {
    padding: 8px;
    width: 200px;
    height: 46px;
}

.terms-item {
    gap: 10px;
}

.terms-item img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.terms-item a {
    font-size: 16px;
    width: 95px;
    height: 17px;
    font-family: 'Inter';
    line-height: 120%;
    color: #CDCDCD;
    cursor: pointer;
    text-decoration: none;
}

#content {
    overflow-y: auto;
    background: #F6F7F8;
    padding: 40px 60px;
}

.help-content {
    padding: 145px 64px 20px 362px;
}

.header-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-help img {
    cursor: pointer;
}


.subtitle {
    font-family: 'Inter Bold';
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 21px;
    font-family: 'Inter';
    text-align: justify;
}

table {
    height: 200px;
}

tr td:first-child {
    font-size: 25px;
    font-family: 'Inter Bold';
    margin-top: 40px;
    width: 50px;
}

tr td:nth-child(2) {
    font-family: 'Inter';
    font-size: 21px;
    text-align: justify;
}

/* ######################### End Header Template ################################*/

/* ########################### Start Animation ##################################*/
.init-animation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.desktop-bg {
    background: rgba(246, 247, 248, 1);
    animation: bgOpacity 1.5s linear;
    animation-delay: 1.5s;
}

.mobile-bg {
    background-color: rgba(42, 54, 72, 1);
    animation: bgOpacityMobile 1.5s linear;
    animation-delay: 1.5s;
}

@keyframes bgOpacity {
    0% {
        background: rgba(246, 247, 248, 1);
    }
    80% {
        background: rgba(246, 247, 248, 0.8);
    }
    100% {
        background: rgba(246, 247, 248, 0);
    }
}

@keyframes bgOpacityMobile {
    0% {
        background: rgba(42, 54, 72, 1);
    }
    80% {
        background: rgba(42, 54, 72, 0.8);
    }
    100% {
        background: rgba(42, 54, 72, 0);
    }
}

.init-animation img {
    position: absolute;
    height: clamp(12.5rem, 8.9286rem + 17.8571vw, 37.5rem);
    object-fit: contain;
}

.desktop-logo {
    content: url('assets/img/logo-init.png');
    animation: slideLogo 1.5s linear;
    animation-delay: 1.5s;
}

.mobile-logo {
    content: url('assets/img/logo-init-white.png');
    animation: slideLogoMobile 1.5s linear;
    animation-delay: 1.5s;
}


@keyframes slideLogo {
    0% {
        height: clamp(12.5rem, 8.9286rem + 17.8571vw, 37.5rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        height: clamp(10.625rem, -0.5321rem + 23.77vw, 37.5rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        height: clamp(3.125rem, 0.7188rem + 5.0195vw, 8.75rem);
        top: 40px;
        left: 40px;
    }
}

@keyframes slideLogoMobile {
    0% {
        height:clamp(12.5rem, 8.9288rem + 17.8558vw, 17.29875rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        height: clamp(12.3125rem, 8.6381rem + 18.3721vw, 17.25rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        height: 60.39px;
        top: 20px;
        left: 20px;
    }
}

/* ########################### End Animation ##################################*/

/* ########################## Login Container #################################*/

.login-container {
    font-family: 'Inter';
    font-size: clamp(0.8125rem, 0.7054rem + 0.5357vw, 1.5625rem);
    background: #F6F7F8;
    position: fixed;
    padding-top: 197px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px clamp(0.625rem, 0rem + 3.125vw, 5rem);
    height: 100vh;
}

.login-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
}

#logo-black {
    width: clamp(3.125rem, 0.7188rem + 5.0195vw, 8.75rem);
    visibility: hidden;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right div {
    font-family: 'Inter';
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
}

.sign-up {
    height: clamp(2.5rem, 2.3214rem + 0.8929vw, 3.75rem);
    width: clamp(8.125rem, 7.4107rem + 3.5714vw, 13.125rem);
    background: #2A3647;
    border-radius: 8px;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    color: white;
    cursor: pointer;
    margin-left: 20px;
    cursor: pointer;
    transition: 255ms;
}

.sign-up:hover {
    background-color: #29abe2;
    border: none;
    filter: saturate(105%);
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transition: 255ms;
}

.login-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: clamp(18.75rem, 15.1786rem + 17.8571vw, 43.75rem) !important;
    height: clamp(18.75rem, 17.8571rem + 4.4643vw, 25rem) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.title-container img {
    position: absolute;
    left: 6%;
    width: clamp(1.25rem, 0.9821rem + 1.3393vw, 3.125rem);
    cursor: pointer;
}
.title {
    display: flex;
    align-items: center;
    font-size: 'Inter Bold';
    font-weight: 700;
    font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
}

.underline {
    margin-top: clamp(0.625rem, 0.5357rem + 0.4464vw, 1.25rem);
    width: clamp(5rem, 4.2857rem + 3.5714vw, 10rem);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 600px;
    align-items: center;
}

.login-input input {
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    outline: none;
    border: none;
    width: clamp(14.375rem, 11.3393rem + 15.1786vw, 35.625rem);
    height: 49px;
    background-color: transparent;
}

.login-input input::placeholder {
    color: #D1D1D1;
}

.mail  {
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 0 21px 0 21px;
    margin-top: 20px;
    width: clamp(15.125rem, 11.9286rem + 15.9821vw, 37.5rem);
}

.mail img {
    width: clamp(1.0625rem, 0.9911rem + 0.3571vw, 1.5625rem);
    height: clamp(1.0625rem, 0.9911rem + 0.3571vw, 1.5625rem);
    object-fit: contain;
}

.new-user-input {
    justify-content: space-between;
}

.new-user-input input {
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    outline: none;
    border: none;
    height: 49px;
    background-color: transparent;
    width: clamp(6.25rem, 5rem + 6.25vw, 15rem);
    width: 100%;
}

.login-input>.new-user-input>img:first-of-type {
    padding-right: 10px;
}

.new-user-input input:nth-last-child(2) {
    border-left: 1px solid #D1D1D1;
    padding-left: 10px;
}

.new-user-input input::placeholder {
    color: #D1D1D1;
}

.password-check {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.remember-passwort {
    display: flex;
    align-items: center;
}

.remember-passwort input {
    margin-right: clamp(0.25rem, 0.1696rem + 0.4018vw, 0.8125rem);
}

.forgot-passwort {
    color: #29ABE2;
    cursor: pointer;
}

.login-btn {
    display: flex;
    justify-content: space-around;
    width: clamp(19.0625rem, 17.9464rem + 5.5804vw, 26.875rem);
}

.login-btn button:nth-child(1) {
    width: clamp(8.125rem, 7.4107rem + 3.5714vw, 13.125rem);
    height: clamp(2.5rem, 2.3214rem + 0.8929vw, 3.75rem);
    background: #2A3647;
    border-radius: 8px;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    color: white;
    cursor: pointer;
    transition: 255ms;
}

.login-btn button:nth-child(1):hover {
    background-color: #29abe2;
    border: none;
    filter: saturate(105%);
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transition: 255ms;
}

.login-btn button:nth-child(2) {
    height: clamp(2.5rem, 2.3214rem + 0.8929vw, 3.75rem);
    width: clamp(8.125rem, 7.4107rem + 3.5714vw, 13.125rem);
    border: 1px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    background-color: white;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    cursor: pointer;
    transition: 255ms;
}

.login-btn button:nth-child(2):hover {
    color: #29abe2;
    border: 1px solid #29abe2;
    transition: 255ms;
    filter: saturate(105%);
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
}

.popUpBg {
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(209, 209, 209, 0.5);
}

.confirm-box {
    background: #2A3647;
    width: clamp(15rem, 12.6786rem + 11.6071vw, 31.25rem);
    height: clamp(8.125rem, 7.3214rem + 4.0179vw, 13.75rem);
    padding: 0px 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
}

.register-text {
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    color: white;
    text-align: center;
}

.here {
    color:  #29abe2;
    font-weight: bold; 
    cursor: pointer;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
}

.here:hover { 
    text-decoration: underline;
}

.forgot-text {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    text-align: center;
}

.forgot-btn {
    height: clamp(2.5rem, 2.3214rem + 0.8929vw, 3.75rem);
    width: clamp(15.625rem, 15rem + 3.125vw, 20rem);
    background: #2A3647;
    border-radius: 8px;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
    color: white;
    cursor: pointer;
    transition: 255ms;
}

.forgot-btn:hover {
    background-color: #29abe2;
    border: none;
    filter: saturate(105%);
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transition: 255ms;
}

.send-forgot-img {
    margin-right: 17px;
}






/* .header-right img:hover {
    background-color:  #29abe2;
    border: none;
    filter: saturate(105%);
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transition: 255ms;
}
*/

.template-add-task {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 425px) {
    .profile-image {
        width: 14px !important;
        height: 23px !important;
        font-size: 16px;
    }
    .tooltip {
        top: 60px;
        right: 18px;
    }
    p {
        font-size: 16px;
    }
    .menu-content-responsiv a {
        width: 25%;
        font-size: 12px;
        padding: 10px;
        justify-content: space-evenly;
    }
    .link {
        gap: 3px;
    }
}


@media only screen and (max-width: 750px) {
    .header-right {
        transform: translateY(83vh);
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
    .login-content {
        position: absolute;
        top: 73px;
        left: 0;
        box-shadow: unset;
        width: unset !important;
        height: 360px !important;
        border: 0;
        right: 0;
        background: transparent;
        bottom: 143px;
    }  
    .password-check {
        flex-direction: column;
        height: 51px;
    }
    .send-forgot-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .template-add-task {
        position: unset;
        display: unset;
    }
    .tooltip {
        top: 61px;
    }
    .header-add-task-resonsiv {
        display: flex;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
        z-index: 98;
        height: 40px;
    }
    #create-board-mobile {
        width: 105px;
        height: 50px;
        top: 5px;
    }
    #create-board-mobile img {
        width: 12px;
    }
    nav {
        display: none;
    }
    .nav-responsiv {
        width:clamp(18.75rem, -1.25rem + 100vw, 46.75rem);
        width: 100%;
        display: flex;
        background: rgb(42, 54, 71);
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 4px;
        position: fixed;
        bottom: 0;
        z-index: 3;
        padding: 20px 0px;
        height: 24px;
    }
    #header {
        left: 0;
        padding: 10px;
        height: 40px
    }
    .help {
        display: none;
    }
    .tooltip {
        width: 130px;
        height: 119px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-left: 30px;
    }
    .help-responsiv, .legal-notice-responsiv {
        display: flex;
        color: #CDCDCD;
        text-decoration: none;
    }
    .help-content {
        padding-left: 64px;
    }
    .headline {
        display: none;
    }
    .headline-img {
        display: flex;
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    .profile-guest-image {
        width: 40px;
        height: 40px;
    }
    .profile-image {
        width: 30px;
        height: 38px;
    }
    .menu-content-responsiv {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .menu-content-responsiv a {
        flex-direction: column;
        padding: 0;
        font-size: 14px;
        width: 71px;
        gap: 7px;
        text-align: center;
    }
    .link img {
        width: 15px;
        height: 15px;
    }
    #messageNewUserResponsiv {
        display: flex;
    } 
    a.link {
        width: 25%;
    }
    a.link.active-link {
        width: 25%;
        height: 64px;
        display: flex;
        justify-content: center
    }
}