<header id="header">
    <div class="headline">Kanban Project Management Tool</div>
    <a href="summary.html">
        <img class="headline-img" src="assets/img/logo-black.png">
    </a>
    <div id="profile" class="profile">
        <a href="help.html">
            <img class="help" src="assets/img/help.png">
        </a>
        <div id="header-content" class="header-content"></div>
    </div>
</header>

<nav>
    <div class="nav-content">
        <div class="logo">
            <a href="summary.html">
                <img src="assets/img/logo.png">
            </a>
        </div>
        <div id="menu-content" class="menu-content"></div>
    </div>

    <div class="terms">
        <div class="terms-content">
            <div class="terms-item">
                <img src="assets/img/legal-notice.png">
                <a href="legal_notice.html">Legal Notice</a>
            </div>
        </div>
    </div>
</nav>


